doctype html
html
   head
   include scripts.pug
   include stylesheets.pug
   title Homepage
   body
         include navbar.pug
         //- p.greetings#people Hello from the homepage!
         .container.px-4.px-lg-5
  
            .row.gx-4.gx-lg-5.align-items-center.my-5
               .col-lg-7
                  img.img-fluid.rounded.mb-4.mb-lg-0(src='https://images.psg.media/media/210757/cover_1920x1080-sans-teexte.jpg')
               .col-lg-5
                  h1.font-weight-light Football Fanatics
                  p
                  | Welcome to Football Fanatics, the biggest home of sports and football T-shirts in Egypt. You will find everything you need from retro football shirts to the latest jerseys and attire.
                  